.menu {
  padding: 1.75rem;
  border: 2px solid #f9b169;
  border-radius: 25px;
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 700;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding-top: 0.25rem;
}

.menu-item .name {
  margin: 0;
  font-size: 1.1rem;
}

.menu-item .description {
  margin-top: 0.4rem;
}

.menu-item {
  display: block;
  position: relative;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
}

a.menu-item:hover::before {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  width: calc(100% + 1rem * 2);
  height: calc(100% + 1rem * 2);
  content: "";
  background-color: #cad6dd1f;
  border-radius: 10px;
  animation: fadeIn 0.1s ease-out;
}

.menu-item .description {
  margin-bottom: 0;
}

@media screen and (min-width: 720px) {
  .menu {
    padding: 2.5rem;
    border: 2px solid #f9b169;
    border-radius: 25px;
  }

  .menu-section {
    flex-direction: row;
    gap: 3rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
