:root {
  --gold: #f9b169;
  --blue: #0d1646;
  --white: #cad6dd;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--blue);
  color: var(--white);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.highlights-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.taco-truck {
  margin-top: 35px;
  margin-bottom: -115px;
  cursor: pointer;
}

.taco-truck.animate {
  animation: drive 15s ease-in-out infinite;
}

@media screen and (min-width: 720px) {
  .page-wrapper {
    padding: 4rem 5rem;
    gap: 2.75rem;
  }

  .highlights-menu {
    flex-direction: row;
    gap: 5rem;
  }
}

@keyframes drive {
  0% {
    transform: translateX(0);
  }
  30.999% {
    transform: translateX(125vw);
  }
  31% {
    transform: translateX(125vw) rotateY(180deg);
  }
  31.001% {
    transform: translateX(100vw) rotateY(180deg);
  }
  63.999% {
    transform: translateX(-125vw) rotateY(180deg);
  }
  64% {
    transform: translateX(-125vw) rotateY(0deg);
  }
  64.001% {
    transform: translateX(-100vw) rotateY(0deg);
  }
  97.999% {
    transform: translateX(0) rotateY(0deg);
  }
  98% {
    transform: translateX(0);
  }
}
