@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Raleway:wght@500;900&display=swap");

body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Aladin", -apple-system, BlinkMacSystemFont, cursive;
  color: var(--gold);
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.75em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
